@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
	overflow-x: hidden;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins;
	-webkit-tap-highlight-color: transparent;
}

/* fonts */

.dancing {
	font-family: 'dancing script';
}

.montserrat {
	font-family: 'Montserrat Alternates';
}

@media screen and (max-width: 30rem) {
	html {
		font-size: 13px;
	}
}

/* Navbar */

@media screen and (min-width: 1024px) {
	.nav-links > div {
		position: relative;
		overflow: hidden;
		transition: all 0.2s ease-in;
	}
	.nav-links > div::after {
		content: '';
		width: 0;
		height: 3px;
		position: absolute;
		background-color: #ddd;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.25s ease-in;
		border-radius: 100vw;
	}
	.nav-links > div:hover {
		color: #fff;
	}
	.nav-links > div:hover::after {
		width: 70%;
	}

	.services-div > div:hover {
		color: #fff;
	}

	.services > * {
		color: #666;
	}
}

.spacer {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer {
	background-image: url('/navbar.svg');
}

.trans-navbg {
	background-image: none;
	backdrop-filter: blur(10px);
}

/* Navbar end */

/* Home page */

.cover {
	background-image: url('/events/cover2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: brightness(0.5);
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 70rem;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	border-radius: 10px;
}

.swiper-slide div {
	opacity: 0.9;
	filter: blur(1px);
}

.swiper-slide-active div {
	filter: blur(0px);
	opacity: 1;
	background: white;
}

/* Form */

.formbg {
	background-image: url('/form/formbg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.form-footer {
	backdrop-filter: blur(0.625rem);
	background-image: none;
}

.text-gradient {
	background-image: linear-gradient(
		to right,
		rgb(60, 126, 250),
		rgb(51, 0, 190)
	);
	color: transparent;
	background-clip: text;
}

/* Animation */
.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}